body {
  overflow: hidden;
}

.pt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  cursor: move;
  user-select: none;
  color: #fff;
}

.battlefield img {
  width: 1050px;
  height: 80vh;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button-add-ally {
  border: 3px solid blue
}

.button-add-enemy {
  border: 3px solid red
}

.pt-al {
  border: 5px solid blue;
  color: blue;
}

.pt-en {
  border: 5px solid red;
  color: red;
}